/.m2/
/code/

**/resolver-status.properties
**/_remote.repositories
**/*.lastUpdated
**/maven-metadata-local.xml

**/nop-all-for-spring/
**/nop-spring-demo-no-orm/
**/*-demo/
**/*-demo2/
**/nop-web-site/
**/nop-web-amis-editor/
**/tests/
