**/resolver-status.properties
**/_remote.repositories
**/*.lastUpdated
**/maven-metadata-local.xml
io/github/entropy-cloud/build-tools/
io/github/entropy-cloud/nop-all-for-spring/
io/github/entropy-cloud/nop-auth/nop-auth-app/
io/github/entropy-cloud/nop-auth/nop-auth-codegen/
io/github/entropy-cloud/nop-batch/nop-batch-app/
io/github/entropy-cloud/nop-batch/nop-batch-codegen/
io/github/entropy-cloud/nop-benchmark/
io/github/entropy-cloud/nop-demo/
io/github/entropy-cloud/nop-demo/nop-delta-demo/
io/github/entropy-cloud/nop-demo/nop-jdk17-demo/
io/github/entropy-cloud/nop-demo/nop-orm-demo/
io/github/entropy-cloud/nop-demo/nop-quarkus-demo/
io/github/entropy-cloud/nop-demo/nop-rpc-client-demo/
io/github/entropy-cloud/nop-demo/nop-rpc-server-demo/
io/github/entropy-cloud/nop-demo/nop-spring-demo/
io/github/entropy-cloud/nop-demo/nop-spring-demo-no-orm/
io/github/entropy-cloud/nop-demo/nop-spring-demo2/
io/github/entropy-cloud/nop-demo/nop-spring-report-demo/
io/github/entropy-cloud/nop-demo/nop-spring-security-demo/
io/github/entropy-cloud/nop-demo/nop-spring-simple-demo/
io/github/entropy-cloud/nop-dev/nop-dev-app/
io/github/entropy-cloud/nop-dev/nop-dev-codegen/
io/github/entropy-cloud/nop-dyn/nop-dyn-app/
io/github/entropy-cloud/nop-dyn/nop-dyn-codegen/
io/github/entropy-cloud/nop-file/nop-file-app/
io/github/entropy-cloud/nop-file/nop-file-codegen/
io/github/entropy-cloud/nop-job/nop-job-app/
io/github/entropy-cloud/nop-job/nop-job-codegen/
io/github/entropy-cloud/nop-oauth/nop-oauth-app/
io/github/entropy-cloud/nop-oauth/nop-oauth-codegen/
io/github/entropy-cloud/nop-report/nop-report-app/
io/github/entropy-cloud/nop-report/nop-report-codegen/
io/github/entropy-cloud/nop-rule/nop-rule-app/
io/github/entropy-cloud/nop-rule/nop-rule-codegen/
io/github/entropy-cloud/nop-sys/nop-sys-app/
io/github/entropy-cloud/nop-sys/nop-sys-codegen/
io/github/entropy-cloud/nop-task/nop-task-app/
io/github/entropy-cloud/nop-tcc/nop-tcc-app/
io/github/entropy-cloud/nop-tcc/nop-tcc-codegen/
io/github/entropy-cloud/nop-wf/nop-wf-app/
io/github/entropy-cloud/nop-wf/nop-wf-codegen/
io/github/entropy-cloud/tests/
